<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">

    </div>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="feature col">
    <a href="/usuarios"><div class="feature-icon bg-primary bg-gradient">
      <i class="fa fa-user"></i>
    </div></a>
    <h2>Gestión de usuarios</h2>
    <p>...</p>
  </div>


</div>

</main>

<!-- <main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Gestion de Usuarios</h1>
            <a class="btn btn-primary btn-lg" href="/usuarios/add">
                Agregar Usuarios
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main> -->
